@font-face {
    font-family: "ubuntu";
    src: url("/assest/ubuntu.ttf");
}

body {
    /* background-image: url("/assest/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: initial; */

    background: url("/assest/background.png") fixed;
    background-size: cover;
}

@media screen and (max-device-width: 991){
    .page .n-col {
        float:none;
        max-width: 90%;
        min-width: 90%;
        margin-left: 5%;
    }
}

@media screen and (min-device-width: 991){
    .page .n-col {
        float:none;
        max-width: 90%;
        min-width: 90%;
        margin-left: 5%;
    }
}

/* * {
    font-family: "ubuntu";
} */

.title {
    font-style: italic;
    color: white;
    text-align: center;
}

.icon {
    max-width: 3%;
}

.icon img {
    border-radius: 50%;
    border: #450058 solid 3px;
    font-size: medium;
}

/* @media screen and (max-device-width: 990) {
    .window {
        margin-right: 1%;
        float: right;
        background-color: #333333;
        min-width: 40%;
    }
    
    .window .title {
        max-width: 100%;
        min-width: 700px;
        font-style: normal;
        margin-top: -1.3%;
        border-top: #333333 solid 10px;
        background-color: #333333;
        border-top-right-radius: 15px;
        border-top-left-radius: 15px;
        text-align: center;
    }
}

@media screen and (min-device-width: 989){
    .window {
        margin-right: 1%;
        float: none;
        background-color: #333333;
        min-width: 90%;
        max-width: 90%;
        margin-left: 5%;
    }
    
    .window .title {
        max-width: 100%;
        font-style: normal;
        margin-top: -1.3%;
        border-top: #333333 solid 10px;
        background-color: #333333;
        border-top-right-radius: 15px;
        border-top-left-radius: 15px;
        text-align: center;
    }
} */

.window {
    margin-right: 1%;
    float: right;
    background-color: #333333;
    min-width: 500px;

    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.window .title {
    max-width: 100%;
    min-width: 700px;
    font-style: normal;
    margin-top: -1.3%;
    border-top: #333333 solid 10px;
    background-color: #333333;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    text-align: center;
}

/* @media screen and (max-device-width: 990){
    .bash {
        float: left;
        background-color: #450058;
        color: white;
        font-size: 17px;
        width: 700px;
        height: 500px; 
        min-height: 70%;
        max-width: 50%;
        margin-left: 3%;
    }

    .bash pre {
        margin-left: 3px;
    }

    .bash .title {
        font-style: normal;
        border-top: #333333 solid 10px;
        background-color: #333333;
        border-top-right-radius: 15px;
        border-top-left-radius: 15px;
        margin-top: -1%;
        text-align: center;
    }
}

@media screen and (min-device-width: 989){
    .bash {
        float: none;
        background-color: #450058;
        color: white;
        font-size: 17px;
        width: 700px;
        height: 500px; 
        min-height: 70%;
        max-width: 90%;
        min-width: 90%;
        margin-left: 5%;
    }

    .bash pre {
        margin-left: 0.2%;
    }

    .bash .title {
        font-style: normal;
        border-top: #333333 solid 10px;
        background-color: #333333;
        border-top-right-radius: 15px;
        border-top-left-radius: 15px;
        margin-top: -1%;
        text-align: center;
    }
} */

.bash {
    float: left;
    background-color: #45005894;
    color: white;
    font-size: 17px;
    width: 700px;
    height: 500px; 
    min-height: 70%;
    max-width: 50%;
    margin-left: 3%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.bash pre {
    margin-left: 3px;
}

.bash .title {
    font-style: normal;
    border-top: #333333 solid 10px;
    background-color: #333333;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    margin-top: -1%;
    text-align: center;
}

.nav-link{
    color: white;
}

.resumeFooter {
    background-color: rgba(92, 33, 186, 0.514);
    border-bottom-right-radius: 15px;
    border: #333333 solid 3px;
}

.resumeFooter button {
    /* min-width: 10%; */
    margin-top: 1%;
    color:white;
    background-color: #333333;
    border-radius: 4px;
    margin-left: 3%;
    border: white solid 2px;
    text-align: left;
}

.resumeFooter select {
    margin-left: 3%;
    color: white;
    background-color: #333333;
    border-radius: 4px;
    border: white solid 2px;
}

.resumeFooter button i {
    text-align: right;
}

.findMe {
    background-color: rgba(92, 33, 186, 0.496);
    border: #333333 solid 3px;
    border-top: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    min-height: 85vh;
}

.findMe button {
    border: rgb(4, 0, 26) solid 2px;
    border-radius: 5px;
    color: white;
    background-color: rgb(4, 0, 26);
}

.findMe button:hover {
    background-color: rgba(4, 0, 26, 0.336);
}

.blogs button {
    background-color: #333333;
    color: white;
    border-radius: 12px;
    min-width: 80%;
    font-size: 130%;
    margin-left: 10%;
    margin-top: 1%;
    border: #333333 solid 1px;
}

.blogs button:hover {
    background-color: #33333381;
}

.blog-content {
    max-width: 90%;
    max-height: 85%;
    min-width: 90%;
    min-height: 85%;
    margin-left: 5%;
    margin-top: 0.2%;
}

.blog-content * {
    color: white;
}

.blog-content textarea {
    background-color: #333333cd;
    border-radius: 12px;
    color: white;
    /* min-width: 150%;
    min-height: 100%;
    max-width: 150%;
    max-height: 100%;
    font-size: 110%;
    resize: none;
    border-color: #333333;
    margin-left: -30%;
    float: right; */
    margin-left: 1%;
}

.blog-content .menu {
    border-color: #333333;
    background-color: #333333cd;
    color: white;
    width: 30%;
    max-width: 30%;
    min-width: 30%;
    height: 80%;
    max-height: 80%;
    min-height: 80%;
    border-radius: 12px;
}

.blog-content .menu img {
    border-radius: 12px;
    border-color: #333333;
    max-width: 90%;
    padding: -1%;
}
/* 
.display {
    min-width: ;
} */

.skills {
    background-color: #333333;
    border-radius: 12px;
    border: #333333 solid 1px;
    /* min-width: 70%; */
    max-width: 70%;
    color: white;
}

.skills * {
    padding-top: 3%;
    padding-left: 3%;
}

.skills p {
    margin-left: 3%;
}

.projectItem {
    border: none;
    background-color: rgba(51, 51, 51, 0.674);
    /* border-radius: 13px; */
    border: #450058 solid 1px;
    min-width: 100%;
    max-width: 100%;
    min-height: 5%;
    margin-top: 1%;
    color: white;
}

.projectItem tr {
    border: rgba(255, 255, 255, 0) solid 0px;
}

.projectItem tbody{
    border: rgba(255, 255, 255, 0) solid 0px;
}